
.resume-editor {
  display: flex;
  flex-direction: row;
}

.editor-pane {
  width: 60%;
}

.accomplishment-preview-pane {
  width: 40%;
  top: 0;
}

.--downscale {
  transform: scale(0.67) translateY(-20%);
}

.--no-click {
  pointer-events: none;
}
