.gth-card-contents {

}

.gth-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Larger than mobile */
@media (min-width: 420px) {
  .gth-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}