.gth-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
  transform: translate(-25px, 0);
}
.gth-home__content {
  margin: 2rem;
  padding: 2rem;
}

.prof-pic {
  width: 190px;
  border-radius: 50%;
}
