.gth-tooltip {
  position: relative;
  z-index: 1;
  border-radius: 2px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  color: white;
  animation-duration: 0.3s;
}

.--tooltip-enter {
  animation-name: gth-tooltip-enter;
}

.--tooltip-exit {
  animation-name: gth-tooltip-exit;
}

.gth-tooltip div {
  padding: 0.3rem;
}

.gth-tooltip button {
  padding: 0.3rem;
}

@keyframes gth-tooltip-enter {
  from {
    transform: translateY(60px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes gth-tooltip-exit {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(60px);
  }
}